# --- Dependencias (Lo más pesado) ---
node_modules/
*/node_modules/

# --- Seguridad (CRÍTICO: Claves y Secretos) ---
.env
.env.local
.env.*.local
server/.env
client/.env

# --- Builds y Dist (Archivos generados) ---
dist/
client/dist/
build/

# --- Logs y Errores ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
pids
*.pid
*.seed
*.pid.lock

# --- Sistema Operativo y Editor ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?